* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
}

.main-wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.main-section {
  height: 100vh;
  width: 60%;
  flex: 2 1 auto;
  padding: 20px;
  background-color: black;
  overflow: scroll;
}

.aside-section {
  height: 100vh;
  position: sticky;
  transition: all 0.2s ease;
  width: 25%;
  margin: 20px;
}

.order-form {
  margin-top: 20px;
  height: 80%;
  border-radius: 20px;
  border: 1px sold black;
}

.modal.fade {
  z-index: 10000000 !important;
}
#works {
  width: 90%;
  padding-left: 40px;
  height: 80vh;
  padding-top: 5%;
}
#wrap {
  width: 70%;
  flex: 2 1 auto;

  padding: 0 40px;
}
.wrapper {
  position: relative;
  padding: 0 0 40px 0;
}

.wrapper img {
  width: 200px;
  height: 200px;
  z-index: 1;
}

.topbar {
  position: relative;
  padding: 20px 0;
  margin: 0 0 40px;
}

#back {
  display: none;
}

.tp-grid {
  list-style: none;
  position: relative;
  display: flex;
  flex-direction: column;
}

.tp-grid li {
  position: absolute;
  cursor: pointer;
  border: 5px solid white;
  display: none;
  overflow: hidden;
  backface-visibility: hidden;
}

.no-js .tp-grid li {
  position: relative;
  display: inline-block;
}

.tp-grid li a {
  display: block;
  outline: none;
}

.tp-grid li img {
  display: block;
  border: none;
}

.tp-info,
.tp-title {
  position: absolute;
  background: white;
  line-height: 20px;
  color: #292929;
  font-size: 22px;
  line-height: 26px;
  top: 40%;
  width: 75%;
  padding: 10px;
  font-weight: 400;
  text-align: right;
  left: -100%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1),
    10px 0 10px -3px rgba(0, 0, 0, 0.7) inset 0 0 5px rgba(0, 0, 0, 0.4);
}

.tp-title {
  padding: 10px 35px 10px 10px;
  left: 0px;
}

.tp-title span:nth-child(2) {
  color: white;
}
