@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto&display=swap');


/* font-family: 'Pacifico', cursive;
font-family: 'Roboto', sans-serif; */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow-x: hidden;

}

* {
  scrollbar-width: thin;
  scrollbar-color: #c81717 transparent;
}

*::-webkit-scrollbar {
  width: 7px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background: #c81717;
  border-radius: 10px;
  border: transparent;
}

.main-wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;

}

.main-section {
  height: 100vh;
  width: 700px;
  flex: 1 1 auto;
  padding: 10px;
}

.aside-section {
  height: 83vh;

  transition: all 0.2s ease;
  width: 400px;
  margin: 10px 10px 0px 10px;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.75);
}

.cart {
  display: none;
  padding: 10px;
  margin: 10px;
  width: 300px;
  position: relative;
}
.cart-btn {
  position: relative;
  cursor: pointer;
}
.cart-btn img {
  width: 40px;
}

.cart-items {
  position: absolute;
  top: 3px;
  right: 215px;
  padding: 0 9px;
  border-radius: 50%;
  color: #c81717;
}
#cart-count {
  font-size: 17px;
  font-weight: 600;
}
.cart-button {
  border: 1px solid #c81717;
  color: #c81717;
}
.cart-button:hover {
  background-color: #c81717;
  color: white;
}
.toppings {
  display: flex;
}

.modal.fade {
  z-index: 10000000 !important;
}

tr:nth-child(even) {
  background-color: rgba(199, 152, 64, 0.5) !important;
}

th {
  background-color: #c81717 !important;
  color: white;
}

/* .total-amount, .delivery-cost {
  font-weight: bold;
  font-size: 1.6em;
} */

.delivery-form {
  padding: 15px;
}
.delivery-form form {
  display: none;
  -webkit-box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.75);
  padding: 18px;
}
.delivery-form input {
  width: 70% !important;
}

#works {
  display: none;
  width: 100%;
  padding-left: 40px;
  height: 80vh;
  padding-top: 5%;
  position: relative;
}
#wrap {
  width: 100%;
  flex: 2 1 auto;
  padding: 0 40px;
}
.wrapper {
  position: relative;
  padding: 0 0 40px 0;
}

.wrapper img {
  width: 200px;
  height: 200px;
  z-index: 1;
}

#back {
  display: none;
  position: absolute;
  right: 300px;
  bottom:60px;
}

.tp-grid {
  list-style: none;
  position: relative;
  display: flex;
  flex-direction: column;
}

.tp-grid li {
  position: absolute;
  cursor: pointer;
  border: 5px solid white;
  display: none;
  overflow: hidden;
  backface-visibility: hidden;
}

.no-js .tp-grid li {
  position: relative;
  display: inline-block;
}

.tp-grid li a {
  display: block;
  outline: none;
}

.tp-grid li img {
  display: block;
  border: none;
}

.tp-info,
.tp-title {
  position: absolute;
  background: white;
  line-height: 20px;
  color: #292929;
  font-size: 22px;
  line-height: 26px;
  top: 40%;
  width: 75%;
  padding: 10px;
  font-weight: 400;
  text-align: right;
  left: -100%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1),
    10px 0 10px -3px rgba(0, 0, 0, 0.7) inset 0 0 5px rgba(0, 0, 0, 0.4);
}

.tp-title {
  padding: 10px 35px 10px 10px;
  left: 0px;
}

.tp-title span:nth-child(2) {
  color: white;
}
