@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto&display=swap");

/* font-family: 'Pacifico', cursive;
font-family: 'Roboto', sans-serif; */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #212529;
  color: white;
  height: 100%;
  overflow: hidden;
}

.main-wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 90vh;
  width: 100vw;
  margin-right: 20px;
}

.main-section {
  height: 90vh;
  width: 600px;
  flex: 1 1 auto;
  padding: 10px;
  margin: 10px;
  overflow-y: scroll;
}

.aside-section {
  position: sticky;
  height: 80vh;
  transition: all 0.2s ease;
  width: 400px;
  margin: 10px 10px 0px 10px;
}
.aside-section form {
  position: sticky;
  padding: 20px;
  margin: 10px 40px 0px 10px;
  -webkit-box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.75);
}

.cart {
  display: none;
  padding: 10px;
  margin: 10px;
  width: 300px;
  position: relative;
}
.cart-btn {
  position: relative;
  cursor: pointer;
}
.cart-btn img {
  width: 40px;
}

.cart-items {
  position: absolute;
  top: 3px;
  right: 215px;
  padding: 0 9px;
  border-radius: 50%;
  color: #fff;
}
#cart-count {
  font-size: 17px;
  font-weight: 600;
}
.custom-button {
  border: 1px solid #c81717;
  color: #c81717;
}
.custom-button:hover {
  background-color: #c81717;
  color: white;
}
.toppings {
  display: flex;
}

.modal-content {
  background-color: white;
  color: black;
}

tr:nth-child(even) {
  background-color: rgba(199, 152, 64, 0.5) !important;
}

th {
  background-color: #c81717 !important;
  color: white;
}
td {
  color: black;
}

.total-amount,
.delivery-cost {
  font-weight: bold;
  font-size: 1.6em;
}

.delivery-form {
  padding: 15px;
}
.delivery-form form {
  display: none;
  -webkit-box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.75);
  padding: 18px;
}
.delivery-form input {
  width: 70% !important;
}

.card {
  color: black;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #fff transparent;
}

*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 10px;
  border: transparent;
}

.card {
  height: 230px;
  margin: 10px 20px ;
  border-color:#212529;
  outline-color: #212529;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  overflow: hidden;
  text-align: center;
}
.card-body {
  background-color: #212529;
  border-color: #212529;
  outline-color: #212529;
  color: #fff;
}
.card img {
  background-color: #212529;
  height: 180px;
  width: 100%;
  object-fit: fill;
  padding-bottom: 10px;
  border-bottom:4px solid #fff;
}

.card span {
  width: 100%;

  line-height: 15px;
}

/* mobile sized devices */
@media screen and (max-width: 1040px) {
  body {
    overflow: scroll;
    height: 100%;
  }
  .main-wrapper{
    height: 100%;
  }

  .main-section {
    overflow: scroll;
  }


  .card{
    height: 150px;
  }
  .aside-section{
    margin-bottom: 50px;
  }
}
